<fieldset data-hook="notes_edit" id="admin_user_edit_notes" class="twelve columns">
  <legend>Notes</legend>
  <a name="important_notes"></a>

  <%= render partial: 'spree/admin/note', collection: @user.notes.important %>
  <%= render partial: 'spree/admin/note', collection: @user.notes.not_important %>

  <div class="form-buttons filter-actions actions" id="js-create-note-button">
    <%= button 'Create New Note', 'plus', 'button' %>
  </div>

  <div id="js-create-note-form" style="display:none;">
    <%= form_for @user.notes.build, url: admin_user_notes_path(@user), :method => :post do |f| %>
      <%= f.field_container :body do %>
        <%= f.label :body, 'Note' %><br />
        <%= f.text_area :body, rows: 20, :class => 'fullwidth title' %>
      <% end %>
      <%= f.field_container :important do %>
        <%= f.check_box :important, :class => '' %>
        <%= f.label :important, 'Important - Check to mark this note as important' %>
      <% end %>
      <div class="form-buttons filter-actions actions">
        <%= button 'Save' %>
      </div>
    <% end %>
  </div>
</fieldset>

<%= content_for :head do %>
  <script type="text/javascript">
    <%= render 'spree/admin/edit_notes.js' %>
  </script>
<% end %>
